/thumb.psd
/splash.psd
/info.txt
/.DS_Store
/sections/.DS_Store
/sections/instagrid/api/.DS_Store
/sections/instagrid/.DS_Store
/sections/instagrid/js/.DS_Store
/thumb.png
/splash.png
/sections/instagrid/thumb.psd
/sections/instagrid/splash.psd